---
import TargetMarket from "../TargetMarket.astro";
import markets from "../../resources/markets.json";
import Icon from "astro-icon";
import { twMerge } from "tailwind-merge";

interface Props {
  id?: string;
  containerClasses?: string;
}

const { containerClasses, id } = Astro.props;
---

<section
  id={id}
  class={twMerge(
    "relative mt-16 xl:mt-20 lg:mt-12 section-padding",
    containerClasses,
  )}
>
  <h1 class="px-4 text-center font-bold sm:px-10 lg:px-14 xl:px-40 2xl:px-52">
    Facciamo
  </h1>
  <div
    class="grid grid-cols-1 items-center justify-center gap-16 space-y-4 lg:grid-cols-2 lg:items-start xl:mt-20 xl:gap-16 2xl:grid-cols-4 2xl:gap-14"
  >
    {
      markets.map((market) => (
        <TargetMarket
          title={market.title}
          paragraphs={market.paragraphs}
          href={market.href}
          btnTitle={market.btnTitle}
        />
      ))
    }
  </div>
</section>
